<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Comisiones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Pagina Comisiones</h1>
            <div th: if = "$ {personas! = null y ! personas.empty} ">
            <table border =" 1 "> 
                <tr> 
                    <th> Nombre </th> 
                    <th> Apellido </th> 
                    <th> enero </th> 
                    <th> febrero </th> 
                    <th> marzo </th> 
                    <th> total </th> 
                </tr> 
                
                <!-- interacion de objetos-->
                <tr th: each = "persona: ${personas}">
                    <td th: text = "${persona.nombre}"></td>
                    <td th: text = "${persona.apellido}"></td>
                    <td th: text = "${persona.enero}"></td>
                    <td th: text = "${persona.febrero}"></td>
                    <td th: text = "${persona.marzo}"></td>
                    <td th: text = "${persona.total}"></td>
            </table> 
            </div>
            <div th: if =" $ {personas == null o personas.empty} "> no hay cuates. </div>
        
    </body>
</html>
